@import models.GenreModel.Genre
@(data: Form[Genre], id: Long = 0)(implicit request: MessagesRequestHeader)
@main("Genres") {
<div class="container">
	@if(id > 0) {
		<h1>Edit genre @id</h1>
	} else {
		<h1>Create new genre</h1>
	}
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(routes.GenreController.updateForm(id)) {
		<fieldset>
			@CSRF.formField
			@inputText(data("name"), Symbol("_label") -> "Name")
			@components.buttons("Update genre")
		</fieldset>
	}
	@delete(routes.GenreController.deleteForm(id))
	<a class="button" href="@routes.GenreController.listForm()">Back</a>
</div>
}
