@import models.ReviewModel.Review
@(data: Form[Review])(implicit request: MessagesRequestHeader)
@main("Reviews") {
<div class="container">
	<h1>Create new review</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (content, value) =>
		<div>@content: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(routes.ReviewController.saveForm()) {
		<fieldset>
			@CSRF.formField
			@inputText(data("content"), Symbol("_label") -> "Review")
			@inputText(data("user_id"), Symbol("_label") -> "User ID")
			@inputText(data("book_id"), Symbol("_label") -> "Book ID")
			@components.buttons("Create review")
		</fieldset>
	}
	<a class="button" href="@routes.ReviewController.listForm()">Back</a>
</div>
}
