@import models.ReviewModel.Review
@(reviews: Seq[Review])(implicit request: MessagesRequestHeader)
@main("Reviews") {
<div class="container">
	<h1 id="title">Reviews</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (content, value) =>
		<div>@content: @value</div>
	}
	<table aria-labelledby="title" class="with-buttons">
		<thead>
			<tr>
				<th scope="column">ID</th>
				<th scope="column">Content</th>
				<th scope="column">User ID</th>
				<th scope="column">Book ID</th>
				<th scope="column"></th>
				<th scope="column"></th>
			</tr>
		</thead>
		<tbody>
			@reviews.map { a =>
				<tr>
					<td>@a.id</td>
					<td>@a.content</td>
					<td>@a.user_id</td>
					<td>@a.book_id</td>
					<td><a class="button" href="@routes.ReviewController.editForm(a.id.get)">Edit</a></td>
					<td>
						@delete(routes.ReviewController.deleteForm(a.id.get))
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="button" href="@routes.ReviewController.createForm()">New</a>
</div>
}
