<header class="container" role="navigation" aria-label="main navigation">
	<a>
		<h1>
			Yup.
		</h1>
	</a>
	<ul>
		<li>
			<a class="button button-outline" href="@routes.AuthorController.listForm()">Authors</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.GenreController.listForm()">Genres</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.BookController.listForm()">Books</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.UserController.listForm()">Users</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.ProviderController.listForm()">Providers</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.ReviewController.listForm()">Reviews</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.BasketController.listForm()">Baskets</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.CollectionController.listForm()">Collections</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.CollectionHelperController.listForm()">Collections Helper</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.OrderController.listForm()">Orders</a>
		</li>
		<li>
			<a class="button button-outline" href="@routes.FavouriteController.listForm()">Favourites</a>
		</li>
	</ul>
</header>
