<header class="container" role="navigation" aria-label="main navigation">
	<a>
		<h1 class="title">
			Yup.
		</h1>
	</a>
	<ul>
		<li>
			<a class="button button-outline" href="@routes.BookController.listForm()">Books</a>
			<a class="button button-outline" href="@routes.AuthorController.listForm()">Authors</a>
			<a class="button button-outline" href="@routes.GenreController.listForm()">Genres</a>
			<a class="button button-outline" href="@routes.UserController.listForm()">Users</a>
		</li>
	</ul>
</header>
