**/.git
**/.gitignore
**/Dockerfile*
**/.dockerignore
kube.yaml

front/dist
**/node_modules

front/.yarn/*
!front/.yarn/cache
!front/.yarn/patches
!front/.yarn/plugins
!front/.yarn/releases
!front/.yarn/sdks
!front/.yarn/versions

front/.parcel-cache/
front/yarn-debug.log*
front/yarn-error.log*

# Logs
**/logs
**/*.log

.bsp
.cache
.ivy2
.sbt
**/target
data/
**/RUNNING_PID
