table {
	display: table;
}

table.with-buttons {
	td, th {
		&:nth-last-child(-n+2) {
			width:1%;
		}
	}
}

td, th {
	white-space: nowrap;

	&:first-child {
		padding-left: 1.5rem;
	}
	&:last-child {
		padding-right: 1.5rem;
	}
	&.link {
		// padding: 0;
		position: relative;
		a:not(.button) {
			display: inline-block;
			padding: 1.2rem 1.5rem;
			// margin: -1.2rem 1.5rem;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			&:hover {
				background-color: #ddd;
			}
		}
	}
	.button, form.inline {
		margin-bottom: -1em;
		margin-top: -1em;
	}
}
