@import models.CollectionHelperModel.CollectionHelper
@(data: Form[CollectionHelper], id: Long = 0)(implicit request: MessagesRequestHeader)
@main("CollectionHelpers") {
<div class="container">
	@if(id > 0) {
		<h1>Edit collection helper @id</h1>
	} else {
		<h1>Create new collection helper</h1>
	}
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(if (id > 0) {
		routes.CollectionHelperController.updateForm(id)
	} else {
		routes.CollectionHelperController.saveForm()
	}) {
		<fieldset>
			@CSRF.formField
			@inputText(data("collection_id"), Symbol("_label") -> "Collection ID")
			@inputText(data("book_id"), Symbol("_label") -> "Book ID")
			@components.buttons("Update collectionhelper")
		</fieldset>
	}
	@delete(routes.CollectionHelperController.deleteForm(id))
	<a class="button" href="@routes.CollectionHelperController.listForm()">Back</a>
</div>
}
