@import models.BasketModel.Basket
@(data: Form[Basket])(implicit request: MessagesRequestHeader)
@main("Baskets") {
<div class="container">
	<h1>Create new basket</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(routes.BasketController.saveForm()) {
		<fieldset>
			@CSRF.formField
			@inputText(data("user_id"), Symbol("_label") -> "User ID")
			@inputText(data("book_id"), Symbol("_label") -> "Book ID")
			@inputText(data("count"), Symbol("_label") -> "Count")
			@components.buttons("Create basket")
		</fieldset>
	}
	<a class="button" href="@routes.BasketController.listForm()">Back</a>
</div>
}
