@import models.BookModel.Book
@(data: Form[Book], authors: Seq[(String, String)], genres: Seq[(String, String)], id: Long = 0)(implicit request: MessagesRequestHeader)
@main("Books") {
<div class="container">
	@if(id > 0) {
		<h1>Edit book @id</h1>
	} else {
		<h1>Create new book</h1>
	}
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(if (id > 0) {
		routes.BookController.updateForm(id)
	} else {
		routes.BookController.saveForm()
	}) {
		<fieldset>
			<legend>Book</legend>
			@CSRF.formField
			@inputText(data("title"), Symbol("_label") -> "Title")
			@select(data("author_id"),
				options = authors,
				Symbol("_label") -> "Author",
				Symbol("_default") -> "Select author",
			)
			@select(data("genre_id"),
				options = genres,
				Symbol("_label") -> "Genre",
				Symbol("_default") -> "Select genre",
			)
			@inputText(data("price"), Symbol("_label") -> "Price")
			@components.buttons("Update book")
		</fieldset>
	}
	@delete(routes.BookController.deleteForm(id))
	<a class="button" href="@routes.BookController.listForm()">Back</a>
</div>
}
