@import models.BookModel.Book
@(books: Seq[Book])(implicit request: MessagesRequestHeader)
@main("Books") {
<div class="container">
	<h1>Books</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	<table class="with-buttons">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Genre</th>
				<th>Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@books.map { a =>
				<tr>
					<td>@a.id</td>
					<td>@a.title</td>
					<td>@a.author_id</td>
					<td>@a.genre_id</td>
					<td>@a.price</td>
					<td><a class="button" href="@routes.BookController.editForm(a.id.get)">Edit</a></td>
					<td>
						@delete(routes.BookController.deleteForm(a.id.get))
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="button" href="@routes.BookController.createForm()">New</a>
</div>
}
