@import models.BookModel.Book
@(books: Seq[Book])(implicit request: MessagesRequestHeader)
@main("Books") {
<div class="container">
	<h1 id="title">Books</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	<table aria-labelledby="title" class="with-buttons">
		<thead>
			<tr>
				<th scope="column">ID</th>
				<th scope="column">Title</th>
				<th scope="column">Author</th>
				<th scope="column">Genre</th>
				<th scope="column">Price</th>
				<th scope="column"></th>
				<th scope="column"></th>
			</tr>
		</thead>
		<tbody>
			@books.map { a =>
				<tr>
					<td>@a.id</td>
					<td>@a.title</td>
					<td>@a.author_id</td>
					<td>@a.genre_id</td>
					<td>@a.price</td>
					<td><a class="button" href="@routes.BookController.editForm(a.id.get)">Edit</a></td>
					<td>
						@delete(routes.BookController.deleteForm(a.id.get))
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="button" href="@routes.BookController.createForm()">New</a>
</div>
}
