@import models.UserModel.User
@(id: Long, data: Form[User])(implicit request: MessagesRequestHeader)
@main("Users") {
<div class="container">
	<h1>Edit user @id</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	@* Global errors are not tied to any particular form field *@
	@if(data.hasGlobalErrors) {
		@data.globalErrors.map { error: FormError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}
	@form(routes.UserController.updateForm(id)) {
		<fieldset>
			@CSRF.formField
			@helpers.inputHidden(data("id"))
			@inputText(data("login"), Symbol("_label") -> "Login")
			@inputText(data("password"), Symbol("_label") -> "Password")
			@components.buttons("Update user")
		</fieldset>
	}
	@delete(routes.UserController.deleteForm(id))
	<a class="button" href="@routes.UserController.listForm()">Back</a>
</div>
}
