# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

dist/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# yarn v2
# from yarn docs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# no npm
package-lock.json

# parcel
.parcel-cache/
