@import models.ProviderModel.Provider
@(providers: Seq[Provider])(implicit request: MessagesRequestHeader)
@main("Providers") {
<div class="container">
	<h1 id="title">Providers</h1>
	@* Flash shows updates to a page *@
	@request.flash.data.map{ case (name, value) =>
		<div>@name: @value</div>
	}
	<table aria-labelledby="title" class="with-buttons">
		<thead>
			<tr>
				<th scope="column">ID</th>
				<th scope="column">User ID</th>
				<th scope="column">Provider ID</th>
				<th scope="column">Provider Key</th>
				<th scope="column"></th>
				<th scope="column"></th>
			</tr>
		</thead>
		<tbody>
			@providers.map { a =>
				<tr>
					<td>@a.id</td>
					<td>@a.userID</td>
					<td>@a.providerID</td>
					<td>@a.providerKey</td>
					<td><a class="button" href="@routes.ProviderController.editForm(a.id.get)">Edit</a></td>
					<td>
						@delete(routes.ProviderController.deleteForm(a.id.get))
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="button" href="@routes.ProviderController.createForm()">New</a>
</div>
}
