@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@title</title>
		<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="@routes.Assets.at("lib/normalize.css/normalize.css")">
		<link rel="stylesheet" href="@routes.Assets.at("index.css")">
	</head>
	<body>
		<main>
			@components.header()
			@content
			@components.footer()
		</main>
	</body>
</html>
