@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@title</title>
		<!-- Google Fonts -->
		<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@@0,300;0,700;1,300;1,700&#38;display=swap" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<!-- CSS Reset -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512&#45;NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="@routes.Assets.at("lib/normalize.css/normalize.css")">
		<!-- Milligram CSS -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512&#45;xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="@routes.Assets.at("index.css")">
	</head>
	<body>
		@components.header()
		@content
	</body>
</html>
